[submodule "provision_profiles/docker/roles/docker.ubuntu"]
	path = provision_profiles/roles/docker.ubuntu
	url = https://github.com/vpetersson/docker.ubuntu.git
[submodule "provision_profiles/roles/unattended-upgrades"]
	path = provision_profiles/roles/unattended-upgrades
	url = https://github.com/vpetersson/ansible-role-unattended-upgrades.git
