# vim: tabstop=2 shiftwidth=2 softtabstop=2

location /{{ role }} {
  proxy_set_header Host {{ ansible_fqdn }};
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Real-IP $remote_addr;

  proxy_pass http://{{ role }}/;
}
