# vim: tabstop=2 shiftwidth=2 softtabstop=2

include conf.d/*.upstream;

server {
  listen 80 default_server;
  server_tokens off;
  server_name {{ ansible_fqdn }};
  return 301 https://{{ ansible_fqdn }}$request_uri;
}

server {
  listen 443 ssl;
  server_name {{ ansible_fqdn }};
  server_tokens off;

  include conf.d/ssl.inc;
  include conf.d/default.inc;

  location ~ /.well-known {
    root /var/www;
    try_files $uri $uri/ =404;
    allow all;
  }
}
