---
- name: PostgreSQL
  docker:
    name: postgres
    image: postgres
    state: started
    restart_policy: always
    env:
      POSTGRES_PASSWORD: "{{ postgres_root_password }}"
    volumes:
    - "/var/lib/postgresql/data:/var/lib/postgresql/data"
    ports:
    - "127.0.0.1:5432:5432"
